.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

question-edit-input {
    width: 100%;
    margin: 20px 0;
}

.editor-container {
    width: 100%;
}